/* Start Box */
.d-flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.space-evenly {
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.f-wrap {
  flex-wrap: wrap;
}
.d-block {
  display: block;
}
.w-fit {
  width: fit-content;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.w-100{
  width: 100px;
}
.h-100{
  height: 100px;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}
/* End Box */
/* Start Padding */
.pb-0 {
  padding-bottom: 0px;
}
.p-20 {
  padding: 20px;
}
.p-10 {
  padding: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.p-15 {
  padding: 15px;
}
.pl-15 {
  padding-left: 15px;
}
.pr-15 {
  padding-right: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pb {
  padding-bottom: 20px;
}
/* End Padding */
/* Start Margin */
.m-0 {
  margin: 0;
}
.m-15 {
    margin: 15px;
  }
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mt-15 {
  margin-top: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-25 {
  margin-bottom: 25px;
}
.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}
/* End Margin */
/* Start Colors */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --green-color: #22c55e;
  --orange-color: #f59e0b;
  --red-color: #f44336;
  --grey-color: #888;
}
.c-black {
  color: black;
}
.c-white {
  color: white;
}
.c-gray {
  color: var(--grey-color);
}
.c-red {
  color: var(--red-color);
}
.c-green {
  color: var(--green-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}


/* End Colors */
/* Start Postion */
.p-relative {
  position: relative;
}
.p-absolute{
  position: absolute;
}
/* End Postion */
/* Start Font */
.text-center {
  text-align: center;
}
.font-13 {
  font-size: 13px;
}
.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-16 {
  font-size: 16px;
}
.font-25 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
/* .title-font-20{
    font-size: 20px;
} */
@media (max-width: 767px) {
  .text-center-mobile {
    text-align: center;
  }
}
/* End Font */
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape {
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 6px;
}

/* Start Border */
.b-none {
  border: none;
}
.rad-10 {
  border-radius: 10px;
}
.rad-6 {
  border-radius: 6px;
}
.rad-half {
  border-radius: 50%;
}

.border-5 {
  border-radius: 5px;
}
.border-ccc {
  border: 1px solid #ccc;
}
.border-eee{
  border: 1px solid #eee;
}
/* End Border */
